<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">
    
        <title>Hello, world!</title>
    </head>
    <body>
        <h1>Hello, world!{{curr_dir}}</h1>

        <div class="save"><button type="button" class="btn btn-success" onclick="save();">Save</button></div>

        <div class="subs"></div>

        <div class="frames">
            <img id="img--1" src="https://gaypoly.files.wordpress.com/2011/01/begin.png" style="height: 150px;">
            <h2 id="cap--1">Welcome! Press Left Arrow to begin.</h2>
            {{#each imgs}}
                <img id="img-{{@index}}" src="{{../curr_dir}}{{this}}" style="display: none;">
                <h2 id="cap-{{@index}}" style="display: none;">{{this}}</h2>
            {{/each}}
        </div>

        <div class="progress"></div>
    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script>var pre_saved = JSON.parse(`{{{saved}}}`);</script>
        <script src="/script.js"></script>
    </body>
</html>